NODE_ENV=development
PORT=3002

## JWT
JWT_SECRET=change-me-please
JWT_EXPIRES_IN=24h
## Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_NAME=ecommerce_dapp
FRONTEND_URL=https://safemall.org
BSC_NETWORK=mainnet
BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545
BSC_MAINNET_RPC=https://bsc-dataseed.binance.org/
BLOCKCHAIN_PRIVATE_KEY=xxxxxxxxxxx
TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
PRIVATE_KEY=xxxxxxxxxxxxxxxxx
# Commission Payout Contract
COMMISSION_PAYOUT_CONTRACT_ADDRESS=xxxxxxxx 

# Auto Payout Configuration
AUTO_PAYOUT_ENABLED=true
AUTO_PAYOUT_BATCH_SIZE=50
AUTO_PAYOUT_MIN_AMOUNT=0.0001  # Optional: minimum amount to include in batch

# Google Sheets Configuration
GOOGLE_SHEET_ID=xxxxxxxxxxxxxxxxxxxx
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxxxxxxxxx@xxxxxxx.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"